@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*Whole About Component*/
.aboutComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  height:100vh;
  width: 95%;
  /* border: 1px solid black; */
  border-radius: 2%;
  margin: 4vh auto;
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(#161f3b, #3d9fcc);
}

/*Designing For Quote-"Catchy-Line"*/
#Catchy-Line{
height:45vh;
}
.Catchy-Line-Partial {
  color: #b4c0d6;
}
.Catchy-Line-Main {
  font-size: 2em;
}

/*RepositoryScreenShot Here*/
#screenShot-Image {
  background-color: #7a7777;
  width: 100%;
  border-radius: 3%;
}

#screenShot-Image:hover {
  z-index: 20;
  animation: shadow 2s 1;
  animation-fill-mode: forwards;
}
.RepositorySS:hover {
  cursor: pointer;
  animation: scale 1s 1;
  animation-fill-mode: forwards;
}

/*Join Us Section*/
.fa-arrow-right{
  margin-left: 6px;
}

.Join-Us a{
  text-decoration: none;
}
/* 
#Community-Managers{
  border: 2px solid white;
  margin: auto;
} */

/*utility Classes Here*/
.AboutUs-Items {
  width: 40%;
  /* border: 2px solid rgb(47, 200, 142); */
  color: #ffffff;
  margin: 10px 0px;
  height: 70vh;
}
.button {
  font-size: medium;
  display: flex;
  align-self: center;
  margin:  auto;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px 10px;
  border: none;
  border-radius: 10%;
  height: 40px;
  background-color: #ffffff;
  color: #020e1b;
}
.flex{
  display: flex; 
}
.top-margin{
  margin-top: 10px;
}

.button:hover{
  background-color: rgb(232, 233, 236);
  color: rgb(0, 0, 0);
}

/*Animations Here*/
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}

@keyframes shadow {
  from {
    border-radius: 3%;
    box-shadow: 0px 0px 0px;
  }
  to {
    border-radius: 0%;
    box-shadow: 6px 12px 12px black;
  }
}

/*Responsiveness Here*/
@media (max-width: 1167px) {
.aboutComponent{
  height: 110vh;
}
  .AboutUs-Items {
    width: 50%;
    height: 47vh;
  }
}

@media (max-width: 657px) {
  .AboutUs-Items {
    width: 90%;
    height: 50vh;
  }
}

@media (max-width: 763px) {
  @keyframes scale {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
  }
}
/*Home*/
.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background:linear-gradient(#161f3b, #3d9fcc);
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: black;
}



.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #000000 0%,
    #000000 50%,
    #000000 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
}
